{
	# Global options
	admin off
	auto_https off  # En production, mettez cette ligne en commentaire si vous voulez HTTPS
}

:80 {
	root * /app/public
	php_server
	encode gzip
	file_server

	# Route pour Mercure
	handle /.well-known/mercure {
		reverse_proxy @mercure
	}
}